/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/11/2018, 07:00:38 PM
    Author     : mr-dpad
*/

* {
    padding: 0;
    background-color: #bc5090;
}
.cat{
    font-size: 1.5rem;
    cursor: pointer;
}
ul{
    border: 1px solid #003f5c;
}
.cat:nth-child(odd){
    background-color: #ffa600;
    color:black;
}
.cat:nth-child(even){
    background-color: #003f5c;
    color:white;
}

#visual-area{
    width: 100%;
    color:white;
    position: relative;
}
#visual-area img{
    position: relative;
    margin: auto;
}